<a href="https://colab.research.google.com/github/Angel-JDG/Python_Beginner_DataScience/blob/main/Course1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Clase Modulo 1 - Python para data Science

En este modulo vamos a ver:

* Introducción al notebook de Google Colaboratory.
* Introducción al lenguaje de programación Python.

In [ ]:
print("Hola Hundo")

### Desafio Modulo 1 - sección 8

In [ ]:
# Desafio #1
print("Escuela de Datos de Alura.")

Escuela de Datos de Alura.

In [ ]:
#Desafio #2
Nombre = "Angel"
Apellido = "Delgado"

print (f"Mi nombre es {Nombre} {Apellido}")

Mi nombre es Angel Delgado

In [ ]:
#Desafio #3
Nombre = "Pedro"
for a in Nombre:
  print (a)

P
e
d
r
o

In [ ]:
#Desafio #4
Mes = "Abril"
Año = 2025
Dia = 4
print (f"{Dia} {Mes} del {Año}")

4 Abril del 2025

In [ ]:
#Desafio #5
Año = 2025
print(f"Año Actual: {Año}")

Año Actual: 2025

## Clase Modulo 2 - Python para Data Science

En este modulo vamos a ver:
*   variables y tipos de variables.
*   Manipulacions de datos.

### Variables
Las variables en python al igual que en algebra son "objetos" a los que les ponemos un "nombre" y les asignamos un valor por ejemplo:


*   En Algebra:
  * x + 3 cuando x = 2 (en este caso estamos asigando el valor de 2 a la X que seria nuestra variable)
      * el resultado seria *5*

* En programación:
  * Nombre = Juan ('Nombre' seria nuestra variable y 'Juan' nuestro valor asignado)
  * Print("Hola "Nombre)
    * el output seria "Hola Juan"

### Tipos de variables
hay 4 tipos de variables principalmente:


*   Variable tipo entero: int (las variables tipo entero son numeros enteros es decir sin puntos decimales, como por ejemplo 2, 3, 4, 5... )
*   Variable tipo float: float (las variables de este tipo permiten numeros decimales, por ejemplo, 2.3, 4.5, 6.4...)
*   Variable tipo texto: str (las variables de tipo texto corresponden al sistema ACSII de texto como por ejemplo 'Nombre', 'Perro' Y 'gato', estas son cadenas de texto ya que estan formadas por varios caracteres)
*   Variable tipo boleanos: bool (este tipo de variable solo tiene 2 estados posibles TRUE o FALSE)

**Ejemplo en clases:**

In [ ]:
# Tranformar la ficha de un alumno en variables
Nombre_estudiante = "Penélope"
Edad_estudiante = 21
Promedio_Estudiante = 9.7
Aprobado = True
print(Nombre_estudiante, Edad_estudiante, Promedio_Estudiante, Aprobado)
print(type(Nombre_estudiante), type(Edad_estudiante), type(Promedio_Estudiante), type(Aprobado))

Penélope 21 9.7 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

####Variables Numericas
Enfoque en variables de tipo **float** e **int**.

* Datos:
  * Vigilante: Cantidad 5, Salario 300.
  * Docente: Cantidad 16, Salario 500.
  * Coordinador: Cantidad 2, Salario 600.






Casos de uso:
*   Cantidad total de empleados.
*   Diferencia entre el salario más alto y más bajo.
*   Promedio ponderado de los salarios.

Ejemplo en clase:

In [ ]:
Cantidad_vigilante = 5
Salario_vigilante = 300

Cantidad_docente = 16
Salario_docente = 500

Cantidad_coordinador = 2
Salario_coordinador = 600

Total_empleados = Cantidad_vigilante + Cantidad_coordinador + Cantidad_docente
Total_empleados

Diferencia_salario = Cantidad_coordinador - Cantidad_vigilante
Diferencia_salario

Promedio_salario = (Salario_coordinador*Cantidad_coordinador + Salario_docente*Cantidad_docente + Salario_vigilante*Cantidad_vigilante)/Total_empleados
Promedio_salario

465.2173913043478

####Variables de texto
Enfoque en variables de tipo texto **String**.

las variables de tipo texto pueden estr envueltas en comillas simples ( ' ) o comillas dobles ( " ).
```
t = "Alura"
type (t) --> string
```
las variables textuales son objetos que poseen metodos que nos ayudan a formatear strings. los metodos los podemos ejecutar acorde a la siguiente estructura:

objeto.metodo()

los parentesis no siempre van con todo los metodos, por eso se debe verificar en la documentación.

**Ejemplo en clase:**

se recibe una variable con un nombre para insertar a un registro, pero antes se debe pasar por un tratamiento al texto antes de insertarlo al sistema.

In [ ]:
texto = " Micaela de los Sanyos"
id(texto)

135539513026368

el objetivo final es el siguiente: 'MICAELA DE LOS SANTOS'

In [ ]:
# utilizamos metodo upper para convertir a mayusculas toda la cadena de texto
texto.upper()

' MICAELA DE LOS SANYOS'

In [ ]:
# utilizamos metodo lower para convertir a minusculas toda la cadena de texto
texto.lower()

' micaela de los sanyos'

In [ ]:
# utilizamos metodo strip para eliminar espacios en blanco al principio o final de un string
texto.strip()

'Micaela de los Sanyos'

In [ ]:
# utilizamos metodo replace para editar/cambiar un elemento del contenido
texto.replace('y', 't')

' Micaela de los Santos'

In [ ]:
# se pueden usar varios metodos al mismo tiempo y la variable debe ser guardada:
nuevo_texto= texto.strip().upper().replace('y', 't')
print(nuevo_texto)
# al ser variables diferentes no se almacenan en el mismo espacio de memoria
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANYOS
135539513040032 135539513017008

In [ ]:
texto= texto.strip().upper().replace('y', 't')
print(texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANYOS
135539511017520 135539513017008

#### Colección de datos
vamos a ver como ingresar información desde el programa en ejecución con **input()**
para ejecutar la captura debemos atribuir el resultado de la funcion a una variable.

In [ ]:
Nombre= input("Escriba su nombre: ")

Escriba su nombre: Angel

In [ ]:
type(Nombre)

str

Todo lo que ingreses en el input sera tipo string aun cuando digites un valor númerico.

Funciones de conversion de valores:
*   Entero      = int   (dato para conversión)
*   Flotante    = float (dato para conversión)
*   Caracter    = str   (dato para conversión)
*   booleanos   = bool  (dato para conversión)

nota adicional \n es un salto de linea y \t una tabulación pueden ser utilizadas en cadenas de texto

In [ ]:
Ano_admision = int(input("Digite el año de admisión: "))

Digite el año de admisión: 2025

In [ ]:
type(Ano_admision)

int

In [ ]:
Nota_admision = float(input("Digite la nota de admisión: "))

Digite la nota de admisión: 4.8

In [ ]:
type(Nota_admision)

float

### Desafio Modulo 2 - Sección 14

In [ ]:
# Desafio #1
Nombre = input("Ingrese su nombre: ")
print(f"Hola, {Nombre}.")

Ingrese su nombre: Ángel
Hola, Ángel.

In [ ]:
# Desafio #2
Nombre = input("Ingrese su nombre: ")
Edad =  int(input("Ingrese su edad: "))
print(f"Hola {Nombre}, tienes {Edad} años.")

Ingrese su nombre: Angel
Ingrese su edad: 21
Hola Angel, tienes 21 años.

In [ ]:
# Desafio #3
Nombre = input("Ingrese su nombre: ")
Edad =  int(input("Ingrese su edad: "))
Altura = float(input("Ingrese su altura: "))
print(f"Hola {Nombre}, tienes {Edad} años y mides {Altura}")

Ingrese su nombre: Ángel
Ingrese su edad: 21
Ingrese su altura: 1.70
Hola Ángel, tienes 21 años y mides 1.7

In [ ]:
# Desafio #4
Num1 = int(input("Ingrese un primer número: "))
Num2 = int(input("Ingrese un segundo número: "))
print(f"la resta de estos numeros da: {Num1+Num2}")

Ingrese un primer número: 2
Ingrese un segundo número: 3
la resta de estos numeros da: 5

In [ ]:
# Desafio #5
Num1 = int(input("Ingrese un primer número: "))
Num2 = int(input("Ingrese un segundo número: "))
Num3 = int(input("Ingrese un tercer número: "))
print(f"la suma de estos numeros da: {Num1+Num2+Num3}")

Ingrese un primer número: 1
Ingrese un segundo número: 1
Ingrese un tercer número: 2
la suma de estos numeros da: 4

In [ ]:
# Desafio #6
Num1 = int(input("Ingrese un primer número: "))
Num2 = int(input("Ingrese un segundo número: "))
print(f"la resta de estos numeros da: {Num1-Num2}")

Ingrese un primer número: 2
Ingrese un segundo número: 1
la resta de estos numeros da: 1

In [ ]:
# Desafio #7
Num1 = int(input("Ingrese un primer número: "))
Num2 = int(input("Ingrese un segundo número: "))
print(f"la resta de estos numeros da: {Num1-Num2}")

Ingrese un primer número: 2
Ingrese un segundo número: 4
la multiplicación de estos numeros da: 8

In [ ]:
# Desafio #8
Num1 = int(input("Ingrese un numerador número: "))
Num2 = int(input("Ingrese un denominador número: "))
print(f"la division de estos numeros da: {Num1/Num2}")

Ingrese un numerador número: 4
Ingrese un denominador número: 2
la division de estos numeros da: 2.0

In [ ]:
# Desafio #9
Num1 = int(input("Ingrese un operador número: "))
Num2 = int(input("Ingrese un potencia número: "))
print(f"el resultado de la operación da: {Num1**Num2}")

Ingrese un operador número: 2
Ingrese un potencia número: 3
el resultado de la operación da: 8

In [ ]:
# Desafio #10
Num1 = int(input("Ingrese un numerador número: "))
Num2 = int(input("Ingrese un denominador número: "))
print(f"el resultado de la operación da: {Num1//Num2}")

Ingrese un numerador número: 5
Ingrese un denominador número: 2
el resultado de la operación da: 2

In [ ]:
# Desafio #11
Num1 = int(input("Ingrese un numerador número: "))
Num2 = int(input("Ingrese un denominador número: "))
print(f"el resultado de la operación da: {Num1%Num2}")

Ingrese un numerador número: 5
Ingrese un denominador número: 2
el resultado de la operación da: 1

In [ ]:
# Desafio #12
Nota1 = float(input("Ingrese la primera nota: "))
Nota2 = float(input("Ingrese la segunda nota: "))
Nota3 = float(input("Ingrese la tercera nota: "))
Cantidad_notas = 3
print(f"el resultado de la operación da: {(Nota1+Nota2+Nota3)/3}")
# sistema de notas en Panamá

Ingrese la primera nota: 3.4
Ingrese la segunda nota: 3.2
Ingrese la tercera nota: 3.0
el resultado de la operación da: 3.1999999999999997

In [ ]:
# Desafio #13
Nota1 = 5
Nota2 = 12
Nota3 = 20
Nota4 = 15

Valor1 = 1
Valor2 = 2
Valor3 = 3
Valor4 = 4
Cantidad_notas = 3
print(f"el resultado de la operación da: {((Nota1*Valor1)+(Nota2*Valor2)+(Nota3*Valor3)+(Nota4*Valor4))/(Valor1+Valor2+Valor3+Valor4)}")

el resultado de la operación da: 14.9

In [ ]:
# Desafio #14
Frase = "Hola soy un programador"
Frase

'Hola soy un programador'

In [ ]:
# Desafio #15
Frase = input("Ingrese una frase: ")
Frase

Ingrese una frase: ya pasé el curso

'ya pasé el curso'

In [ ]:
# Desafio #16
Frase = input("Ingrese una frase: ")
Frase.upper()

Ingrese una frase: HOla soy un programador

'HOLA SOY UN PROGRAMADOR'

In [ ]:
# Desafio #17
Frase = input("Ingrese una frase: ")
Frase.lower()

Ingrese una frase: Hola soy un programador

'hola soy un programador'

In [ ]:
# Desafio #18
Frase = " Hola soy un programador "
Frase.strip()

'Hola soy un programador'

In [ ]:
# Desafio #19
Frase = input("Ingrese una frase: ")
Frase.strip()

Ingrese una frase:  Hola Soy Angel

'Hola Soy Angel'

In [ ]:
# Desafio #20
Frase = input("Ingrese una frase: ")
Frase.strip().lower()

Ingrese una frase:  HOLA SOY ANGEL

'hola soy angel'

In [ ]:
# Desafio #21
Frase = input("Ingrese una frase: ")
Frase.replace("e", "f")

Ingrese una frase: creando un elemento

'crfando un flfmfnto'

In [ ]:
# Desafio #22
Frase = input("Ingrese una frase: ")
Frase.replace("a", "@")

Ingrese una frase: angel salazar

'@ngel s@l@z@r'

In [ ]:
# Desafio #23
Frase = input("Ingrese una frase: ")
Frase.replace("s", "$")

Ingrese una frase: sacar los trapos sucios

'$acar lo$ trapo$ $ucio$'

## Modulo 3 - Python para data science

### Estructuras condicionales

**If** y **Else** son condicionales

funcionana comparando y evaluando parametros como las variables por ejemplo el siguiente problema:

In [ ]:
#nota de aprobación entre 71 y 100 nota de aprobación mayor o igual a 71 (Nota >= 71)
#nota de repobación menor a 71 (Nota<71)

#Si la nota es mayor o igual a 71 el estudiante aprueba de lo contrario reprueba
Nota_estudiante = 71

if Nota_estudiante >= 71: #si nota es mayor o igual a 71 imprime if "Aprobado"
    print("Aprobado")
else:
    print("Reprobado") #de lo contrario imprime else "Reprobado"

Aprobado

Explicación
el problema nos plantea que para aprobar la nota debe ser mayor o igual a 71 y que de no ser asi (si es menor a 71) será reprobado.

este bucle inicia en el if cuando este evalua si la condicion que pusimos se cumple o no (si es Verdadero (True) o falso (False)): que la nota sea mayor o igual a 71 que se expresa como **Variable >= 71** (">=" es un operador condicional).

si no se cumple esta condición, ejecutará el else (es decir si la nota es menor a 71 (el operador condicional si fuese evaluado en el if seria "<"))


---


Ahora veamos un ejemplo con un condicional llamado elif:

In [ ]:
#nota de aprobación entre 71 y 100 nota de aprobación mayor o igual a 71 (Nota >= 71)
#nota de recuperación si la nota es 51
#nota de repobación menor o igual a 50

#Si la nota es mayor o igual a 71 el estudiante aprueba de lo contrario reprueba
Nota_estudiante = 50

if Nota_estudiante >= 71: #si nota es mayor o igual a 71 imprime if "Aprobado"
    print("Aprobado")
elif 71 > Nota_estudiante >= 51:
    print("recuperación")
else:
    print("Reprobado") #de lo contrario imprime else "Reprobado"

Reprobado

Explicación:

Elif es el equivalente a "si no se cumple esta intenta esta" espresada generalmente "si no, si" quiere decir que si no se cumple la condicion para cumplirse del if pasará a evaluar la condicion del del elif si esta se cumple ejecutará el bloque dentro del elif si no ejecutará el else. hayq ue recordar que se pueden colocar varios elif para evaluar varias condiciones de un problem.

###Operadores Lógicos
Los operadores lógicos como And ,Or y Not son operadores que ayudan a crear condiocionales más complejas utilizadas usualmente en condicionales if.

ejemplo de como funciona un And:

Si la condicion **X** se cumple And la condición **Y** también se vamos a la playa de manera más explicita seria: si tenemos un carro and(y) gasolina vamos a la playa

como puedes ver se tienen que cumplir ambas condiciones para porder que todo funcione y de faltar una ya no se podria.


---


ejemplo de como funciona un OR:

Si la condicion **X** se cumple Or la condición **Y** no vamos a la playa o viceversa, de manera más explicita seria: si tenemos carro Or(o) sodas vamos a la playa

Aunque pareza similar a el And no lo es ya que el Or indica que una de las 2 condiciones se debe cumplir para ejecutar, pero no ambas, es decir si hay sodas pero no carro podemos ir a la playa, de igual manera si hay carro pero no sodas, sin embargo si no tenemos ninguna no podemos ir.


---


ejemplo de como funciona un Not:

si Not(no) estas en **lista de personas vetadas** de la fiesta puedes entrar, de manera más explicita si no estas en la listad e personas vetadas de la fiesta puedes entrar de lo contrario no puedes.

este operador funciona negando. es decir si tenemos una variable con el nombre pedro y usamos la condicional if con un not para evitar que pedro entre a la fiesta. se evaluaria si pedro esta en la lista y si está no entrará.

In [ ]:
vetados = "juan", "pedro" ,"rou"

if not "pepito" in vetados :
  print ("pueden entrar")
else:
  print("no puedes entrar")

pueden entrar

###IN
el in es usado para verificar si un elemento se encuentra en una tupla, lista y otra conexión de conjuntos de datos. evalua como true si el elemento que buscamos está en uno de estos conjuntos o false si no como podemos ver en el ejemplo de arriba

###Desafio Modulo 3 - Sección 12

In [ ]:
#Desafio #1
Num1 = float(input("Ingrese un numero: "))
Num2 = float(input("Ingrese un numero: "))
if Num1 > Num2:
  print(Num1)
else:
  print(Num2)

Ingrese un numero: 2
Ingrese un numero: 1
2.0

In [ ]:
#Desafio #2
Production_Perce = float(input("Ingrese el porcentaje de crecimiento de la empresa: "))
if Production_Perce < 0:
  print(f"La producción de la empresa decreció un {Production_Perce}%")
elif Production_Perce > 0:
  print(f"La producción de la empresa creció un {Production_Perce}%")
else:
  print("La empresa se mantuvo sin cambios en la producción.")

Ingrese el porcentaje de crecimiento de la empresa: -21
La producción de la empresa decreció un -21.0%

In [ ]:
#Desafio #3
Letra = str(input("Ingrese una vocal o constante: "))
if Letra.lower() in ["a", "e", "i", "o", "u"]:
  print("Es una vocal")
elif Letra.lower() in ["b", "c", "d", "f", "g", "h", "j", "k", "l", "m", "n", "ñ", "p", "q", "r", "s", "t", "v", "w", "x", "y", "z"]:
  print("Es una consonantes")
else:
  print("No es una vocal o consonantes, solo se permite una vocal o una consonante")

Ingrese una vocal o constante: kb
No es una vocal o sonsonantes, solo se permite una vocal o una consonante

In [ ]:
#Desafio #3
Letra = str(input("Ingrese una vocal o constante: ")).lower()
if len(Letra) == 1 and Letra.isalpha():
  if Letra in ["a", "e", "i", "o", "u"]:
    print("Es una vocal")
  else:
    print("Es una consonante")
else:
  print("valores ingresados invalidos, solo se premite una vocal o una consonante")

Ingrese una vocal o constante: 3456gtybh
valores ingresados invalidos, solo se premite una vocal o una consonante

In [ ]:
#Desafio #4
Precio1 = float(input("Ingrese el precio promedio del primer año: "))
Precio2 = float(input("Ingrese el precio promedio del segundo año: "))
Precio3 = float(input("Ingrese el precio promedio del tercer año: "))

Lista_Precios = [Precio1, Precio2, Precio3]

Precio_Alto = max(Lista_Precios)
Precio_Bajo = min(Lista_Precios)

print(f"El precio más bajo fué {Precio_Bajo} y el precio más alto fué {Precio_Alto}")

Ingrese el precio promedio del primer año: 500
Ingrese el precio promedio del segundo año: 324
Ingrese el precio promedio del tercer año: 112
El precio más bajo fué 112.0 y el precio más alto fué 500.0

In [ ]:
#Desafio #5
Producto1 = float(input("Ingrese el precio del primer producto: "))
Producto2 = float(input("Ingrese el precio del segundo producto: "))
Producto3 = float(input("Ingrese el precio del tercer producto: "))

if Producto2 > Producto1 < Producto3:
  print("El primer producto es el más barato")
elif Producto1 > Producto2 < Producto3:
  print("El Segundo producto es el más barato")
elif Producto1 > Producto3 < Producto2:
  print("El tercer producto es el más barato")
else:
  print("Hay productos que tiene el mismo precio")

Ingrese el precio del primer producto: 1
Ingrese el precio del segundo producto: 2
Ingrese el precio del tercer producto: 1
Hay productos que tiene el mismo precio

In [ ]:
#Desafio #6
Num1 = float(input("Ingrese un numero: "))
Num2 = float(input("Ingrese un numero: "))
Num3 = float(input("Ingrese un numero: "))

Numeros_lista = [Num1, Num2, Num3]
Numeros_ordenados = sorted(Numeros_lista, reverse=True)
for a in Numeros_ordenados:
  print(a)

Ingrese un numero: 4
Ingrese un numero: 3
Ingrese un numero: 5
5.0
4.0
3.0

In [ ]:
#Desafio #7
print("Turnos: Mañana, Tarde o Noche")
turno = str(input("Ingrese el turno en el que estudia: ")).upper()

if turno == "MAÑANA":
  print("¡Buenos días!")
elif turno == "TARDE":
  print("¡Buenas tardes!")
elif turno == "NOCHE":
  print("¡Buenas Noches!")
else:
  print("Valor invalido")

Turnos: Mañana, Tarde o Noche
Ingrese el turno en el que estudia: mañana
¡Buenos días!

In [ ]:
#Desafio #8
Num1 = int(input("Ingrese un numero entero: "))
if Num1 %2 == 0:
  print("El numero es par")
else:
  print("El numero es impar")

Ingrese un numero entero: 15
El numero es impar

In [ ]:
#Desafio #9
Num1 = float(input("Ingrese un numero: "))
if Num1 %1 == 0:
  print("El numero es entero")
else:
  print("El numero es decimal")

Ingrese un numero: 3
El numero es entero

In [ ]:
#Desafio #10
Num1 = float(input("Ingrese un numero: "))
Num2 = float(input("Ingrese un numero: "))
print("Indique que operación desea realizar con el numero correspondiente.\n 1. Suma\n 2. Resta\n 3. Multiplicación\n 4. División")
resultado = 0

operacion = int(input("ingrese la operación que desea realizar: "))
if operacion == 1:
  resultado = Num1+Num2
  print(f"El resultado de la suma es: {resultado}")
elif operacion == 2:
  resultado = Num1-Num2
  print(f"El resultado de la resta es: {resultado}")
elif operacion == 3:
  resultado = Num1*Num2
  print(f"El resultado de la multiplicación es: {resultado}")
elif operacion == 4:
  if Num2==0:
    print("No se puede dividir entre 0")
    quit()
  else:
    resultado = Num1/Num2
    print(f"El resultado de la division es: {resultado}")
else:
  print("Elección invalida")


if resultado %2 == 0:
  print("Es par")
else:
  print("Es impar")

if resultado > 0:
  print("Es positivo")
else:
  print("Es Negativo")

if resultado %1 == 0:
  print("El numero es entero")
else:
  print("El nuemro es decimal")

Ingrese un numero: 2
Ingrese un numero: 0
Indique que operación desea realizar con el numero correspondiente.
 1. Suma
 2. Resta
 3. Multiplicación
 4. División
ingrese la operación que desea realizar: 4
No se puede dividir entre 0
Es par
Es Negativo
El numero es entero

In [ ]:
#Desafio #11
Num1 = float(input("Ingrese un numero: "))
Num2 = float(input("Ingrese un numero: "))
Num3 = float(input("Ingrese un numero: "))

if (Num1 + Num2)>Num3 or (Num1 + Num3)>Num2 or (Num2 + Num3)>Num1:
  if Num1 == Num2 == Num3:
    print("Es un tringulo equilatero")
  elif Num1 == Num2 or Num1 == Num3 or Num2 == Num3:
    print("Es un triangulo Isóseles")
  else:
    print("Es un triangulo Escaleno")
else:
  print("valores ingresado invalidos")

Ingrese un numero: 23
Ingrese un numero: 34
Ingrese un numero: 23
Es un triangulo Isóseles

In [ ]:
#Desafio #12
Litros_Comprados = int(input("Ingrese la cantidad de litros comprados: "))
Precio_Etanol = 2.00
Precio_Diesel = 1.70

print("Ingrese el numero del tipo de combustible: \n1.Etanol\n2.Diesel")
Tipo_Combustible = int(input("Tipo de Combustible: "))

if Tipo_Combustible == 1:
  if Litros_Comprados > 15:
    Compra = Litros_Comprados * Precio_Etanol
    Descuento = ((4/100)*Precio_Etanol)*Litros_Comprados
    Total_pagar = Compra - Descuento
    print(f"El precio a pagar del cliente con un descuento del 4% por litro es de {Total_pagar}")
  else:
    Compra = Litros_Comprados * Precio_Etanol
    Descuento = ((2/100)*Precio_Etanol)*Litros_Comprados
    Total_pagar = Compra - Descuento
    print(f"El precio a pagar del cliente con un descuento del 2% por litro es de {Total_pagar}")

elif Tipo_Combustible ==2:
  if Litros_Comprados > 15:
    Compra = Litros_Comprados * Precio_Diesel
    Descuento = ((5/100)*Precio_Diesel)*Litros_Comprados
    Total_pagar = Compra - Descuento
    print(f"El precio a pagar del cliente con un descuento del 5% por litro es de {Total_pagar}")
  else:
    Compra = Litros_Comprados * Precio_Diesel
    Descuento = ((3/100)*Precio_Diesel)*Litros_Comprados
    Total_pagar = Compra - Descuento
    print(f"El precio a pagar del cliente con un descuento del 3% por litro es de {Total_pagar}")
else:
  print("Selección invalida")

Ingrese la cantidad de litros comprados: 23
Ingrese el numero del tipo de combustible:
1.Etanol
2.Diesel
Tipo de Combustible: 1
El precio a pagar del cliente con un descuento del 4% por litro es de 44.16

In [ ]:
#Desafio #13
Ventas_2022 = int(input("Ingrese las propiedades vendidas en 2022:"))
Ventas_2023 = int(input("Ingrese las propiedades vendidas en 2023:"))

Variacion_Porcentual = round((((Ventas_2023 - Ventas_2022)/Ventas_2022)*100), 2)

print(f"la variación porcentual es del {Variacion_Porcentual}% entre el año 2022 y el año 2023")

if Variacion_Porcentual > 20:
  print("bonificación para el equipo de ventas.")
elif 2 <= Variacion_Porcentual <= 20:
  print("pequeña bonificación para el equipo de ventas.")
elif -10 <=Variacion_Porcentual <= 2:
  print("planificación de políticas de incentivo a las ventas.")
else:
  print("Recorte de gastos")

Ingrese las propiedades vendidas en 2022:234
Ingrese las propiedades vendidas en 2023:45
la variación porcentual es del -80.77% entre el año 2022 y el año 2023
Recorte de gastos

##Modulo 4 - Python para data science

###Estructuras de repetición
las estructuras de repetición se utilizan para repetir una parte del codigo varias veces ya que se vuelve impractico hacerlo manualmente.

###While
El "While" en python nos permite repetir el codigo o un bloque de codigo siempre y cuando se cumpla una condición


```
While condicion:
  #bloque de codigo
```



Ejemplos:

In [ ]:
#contador hasta 10
Num = 0
while Num <= 10:
  print(Num)
  Num +=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
Contador = 0
Estudiante = 1
while Contador < 3:
  Nota1 = float(input("Ingrese la primera nota: "))
  Nota2 = float(input("Ingrese la segunda nota: "))
  print(f"la nota del estudiante {Estudiante} es de: {round(((Nota1+Nota2)/2), 1)}")
  Estudiante += 1
  Contador += 1

Ingrese la primera nota: 3.4
Ingrese la segunda nota: 2.3
la nota del estudiante 1 es de: 2.8
Ingrese la primera nota: 3.4
Ingrese la segunda nota: 4.3
la nota del estudiante 2 es de: 3.8
Ingrese la primera nota: 3.2
Ingrese la segunda nota: 3.5
la nota del estudiante 3 es de: 3.4

###For
El "For" es un bloque que permite iterar los conjuntos de un elemento


```
for elemento in conjunto:
  #bloque de codigo
```
el codigo o bloque de codigo se ejecuta para cada elemento en el conjunto


Ejemplos:

In [ ]:
#para un contador hasta 10
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 4):
  Nota1 = float(input("Ingrese la primera nota: "))
  Nota2 = float(input("Ingrese la segunda nota: "))
  print(f"la nota del estudiante es de: {round(((Nota1+Nota2)/2), 1)}")

Ingrese la primera nota: 3.4
Ingrese la segunda nota: 4.3
la nota del estudiante es de: 3.8
Ingrese la primera nota: 4.5
Ingrese la segunda nota: 4.3
la nota del estudiante es de: 4.4
Ingrese la primera nota: 2.3
Ingrese la segunda nota: 5
la nota del estudiante es de: 3.6

Cuando se trabaja con bucles existen tambien estructuras de control como el "continue" y el "break"

el "continue": nos permite saltar a la siguiente iteración interrumpiendo la actual
 el "break": nos permite salir de las iteraciones, es decir que interrumpe la estructura de bucle y sale totalmente de esta estructura.

 ejemplos por alura:

In [ ]:
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [ ]:
for i in range(1, 6):
    if i == 4:
        break
    print(i)

1
2
3

### Desafio modulo 4 - Sección 9

In [ ]:
#Desafio #1
Num1 = int(input("Ingrese un numero entero: "))
Num2 =  int(input("Ingrese un numero entero: "))
for i in range(Num1, Num2):
  print(i)

Ingrese un numero entero: 1
Ingrese un numero entero: 5
1
2
3
4

In [ ]:
#Desafio #2
Colonia_A = 4
Colonia_B = 10

Tasa_A = 0.03
Tasa_B = 0.015

dias = 0

while Colonia_A <= Colonia_B:
  Colonia_A *= 1+Tasa_A
  Colonia_B *= 1+Tasa_B
  dias += 1
print(f"la colonia A pasará a la colonia B en {dias} días")

la colonia A pasará a la colonia B en 63 días

In [ ]:
#Desafio #3
Evaluaciones = 0
while Evaluaciones < 15:
  Calificaciones= int(input("ingrese la calificación entre 0 y 5: "))
  if Calificaciones >= 0 and Calificaciones <= 5:
    Evaluaciones += 1
    print(f"Evaluación #{Evaluaciones}, calificación: {Calificaciones}")
  else:
    print("Evaluación invalida")

ingrese la calificación entre 0 y 5: -1
Evaluación invalida
ingrese la calificación entre 0 y 5: 6
Evaluación invalida
ingrese la calificación entre 0 y 5: 5
Evaluación #1, calificación: 5
ingrese la calificación entre 0 y 5: 0
Evaluación #2, calificación: 0
ingrese la calificación entre 0 y 5: 2
Evaluación #3, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #4, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #5, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #6, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #7, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #8, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #9, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #10, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #11, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #12, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #13, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #14, calificación: 2
ingrese la calificación entre 0 y 5: 2
Evaluación #15, calificación: 2

In [ ]:
#por alura
# Bucle para recopilar las 15 notas
for i in range(15):
  nota = float(input(f'Ingresa la nota del usuario {i}: '))

  # Verifica si la nota está entre 0 y 5
  # Si no lo está, el bucle se repetirá hasta que se obtenga un valor válido
  while (nota < 0) or (nota > 5):
    nota = float(input(f'Nota no válida, ingresa nuevamente la nota del usuario {i}: '))

print('Verificación completa. Todas las notas son válidas.')

In [ ]:
#Desafio #4
temperatura = 0
while temperatura != -273:
  temperatura=int(input("Ingrese la temeratura: "))

Ingrese la temeratura: -342
Ingrese la temeratura: -323
Ingrese la temeratura: 242
Ingrese la temeratura: 3
Ingrese la temeratura: 0
Ingrese la temeratura: -273

In [ ]:
#Desafio #5 - by Alura - logica comprendida

num = int(input('Ingresa un número entero: '))

factorial = 1

i = num
while i > 0:
    factorial *= i
    i -= 1

print(f'El factorial de {num} es {factorial}')

Ingresa un número entero: 5
El factorial de 5 es 120

In [ ]:
#Desafio #6
Tabla_Multi = int(input("ingrese la tabla de multiplicación que desea: "))
print(f"Tabla de multiplicación del {Tabla_Multi}: ")
for i in range (1, 11):
  print(f"{Tabla_Multi} x {i} = {Tabla_Multi*i}")

ingrese la tabla de multiplicación que desea: 2
Tabla de multiplicación del 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
#Desafio #7 - by Alura - logica comprendida
Num= int(input("Ingrese un numero entero: "))
if Num > 1:
  for i in range(2, Num):
    if Num % i ==0:
      print("No es un numero primo")
      break
  else:
    print("Es un numero primo")
else:
  print("No es un numero primo")

Ingrese un numero entero: 13
Es un numero primo

In [ ]:
#Desafio #8
Cantidad_1 = 0
Cantidad_2 = 0
Cantidad_3 = 0
Cantidad_4 = 0
Edad = 0
while Edad >= 0:
  Edad = int(input("Ingrese la edad: "))


  if 0<= Edad <=25:
    Cantidad_1 += 1
  elif 26<= Edad <=50:
    Cantidad_2 += 1
  elif 51<= Edad <=75:
    Cantidad_3 += 1
  elif 76<= Edad <=100:
    Cantidad_4 += 1
  else:
    print("Fuera de rango")

print(f"La cantidad de pensiondados en un rango de 0 a 25 es de: {Cantidad_1}")
print(f"La cantidad de pensiondados en un rango de 26 a 50 es de: {Cantidad_2}")
print(f"La cantidad de pensiondados en un rango de 51 a 75 es de: {Cantidad_3}")
print(f"La cantidad de pensiondados en un rango de 76 a 100 es de: {Cantidad_4}")

Ingrese la edad: 15
Ingrese la edad: 25
Ingrese la edad: 45
Ingrese la edad: 45
Ingrese la edad: 56
Ingrese la edad: 80
Ingrese la edad: 90
Ingrese la edad: 90
Ingrese la edad: -1
Fuera de rango
La cantidad de pensiondados en un rango de 0 a 25 es de: 2
La cantidad de pensiondados en un rango de 26 a 50 es de: 2
La cantidad de pensiondados en un rango de 51 a 75 es de: 1
La cantidad de pensiondados en un rango de 76 a 100 es de: 3

In [ ]:
#Desafio #9
Candidato_1 = 0
Candidato_2 = 0
Candidato_3 = 0
Candidato_4 = 0
VBlaco = 0
VNulo = 0
votos = 0
while votos < 20:
  print("Digite el numero Asignado al candidato para votar por el, los candidatos son: ")
  print(" 1. Juann Perez\n 2. Jhon Smith\n 3. Pedro Gonzale\n 4. Jose Enriqui\n 5. Voto Nulo\n 6. Voto en blanco.\n")
  Eleccion = int(input("Digite el numero de el candidato por el que desea votar: "))
  if Eleccion == 1:
    Candidato_1 += 1
    votos += 1
  elif Eleccion == 2:
    Candidato_2 += 1
    votos += 1
  elif Eleccion == 3:
    Candidato_3 += 1
    votos += 1
  elif Eleccion == 4:
    Candidato_4 += 1
    votos += 1
  elif Eleccion == 5:
    VNulo += 1
    votos += 1
  elif Eleccion == 6:
    VBlaco += 1
    votos += 1
  else:
    VNulo +=1
    votos += 1

Resultado_VN = (VNulo/20)*100
Resultado_VB = (VBlaco/20)*100

print(f"Los resultados son:\n Candidato 1: {Candidato_1}\n Candidato 2: {Candidato_2}\n Candidato 3: {Candidato_3}\n Candidato 4: {Candidato_4}\n Votos Nulos: {VNulo}\n Votos en blanco: {VBlaco}")

print(f"el {Resultado_VN}% de lso votos fueron nulos y el {Resultado_VB}% Fueron votos en blanco.")

Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 6
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 2
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 2
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 2
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 2
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 2
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 2
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 2
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 2
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 2
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 1
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 4
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 4
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 3
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 5
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 5
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 6
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 1
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 1
Digite el numero Asignado al candidato para votar por el, los candidatos son:
 1. Juann Perez
 2. Jhon Smith
 3. Pedro Gonzale
 4. Jose Enriqui
 5. Voto Nulo
 6. Voto en blanco.

Digite el numero de el candidato por el que desea votar: 1
Los resultados son:
 Candidato 1: 4
 Candidato 2: 9
 Candidato 3: 1
 Candidato 4: 2
 Votos Nulos: 2
 Votos en blanco: 2
el 10.0% de lso votos fueron nulos y el 10.0% Fueron votos en blanco.

## Clase Modulo 5 - Python para DataScience

###Estructuras de Datos

####Listas
Las "Listas" son una colección de datos en orden y mutables, es que pueden ser modificados. Las Listas son crea usando corchetes '[ ]' los elementos se separan por comas ' , '

Las listas pueden contener una gran variedad de tipos de datos enteros, floats, string, otras listas, tublas, etc.

In [ ]:
Lista = ["Angel", 9.1, 9.2, True]
Lista

['Angel', 9.1, 9.2, True]

las listas en python estan ordenadas por un indice que inicia desde el primer elemento asignandole 0, al segundo 1 y así sucesivamente con una cantidad de elementos indetermianda. si se coloca -1 al buscar por indice le traerá de vuelta el ultimo elemento de la lista, -2 el penultimo subsecuentemente con los demas siguiendo esta misma lógica.

In [ ]:
Lista[0]

'Angel'

In [ ]:
type(Lista[0])

str

In [ ]:
Lista[-1]

True

In [ ]:
type(Lista[-1])

bool

Una forma más dinamica de trabajar con las lista es con un bucle For

In [ ]:
for i in Lista:
  print(i)

Angel
9.1
9.2
True

La manipulación de datos de la lista es secilla, y para un dato en especifico de usan los indices, ejemplos:

In [ ]:
Lista[0] = "Juan"
Lista

['Juan', 9.2, True, 'Hola', 9.149999999999999, 1, 2, 3, 4, 5]

In [ ]:
Promedio = (Lista[1]+Lista[2])/2
Promedio

9.149999999999999

####Manipulacion de listas
Metodo "len()" etse metodo nos ayuda a saber que cantiad de elementos hay en un lista. recuerda que dice la cantidad pero el indice sigue empezando desde 0

In [ ]:
len(Lista)

4

Partición:
las particiones no s ayudan a selecciónar un conjunto especificado de la lista  por ejemplo del elemento 0 al 2, similar al metodo range incluye el 0 pero excluye el 2 a la hora de especificar es decir que si queremos los elemento del 0 al 2, debemos poner del 0 al 3, ejemplo:

In [ ]:
Lista[1:3]

[9.1, 9.2]

In [ ]:
"""
 en este caso elementos desde el inicio hasta el indicado (Recordemos que el numero que se coloca es exluyente es decir
 solo se imprimen los elementos hasta el anterior (en este caso del 0 al 2)
"""
Lista[:3]

['Juan', 9.1, 9.2]

In [ ]:
# de la misma forma se puede impriir una lista partiendo de un elemento por ejemplo del 3 en adelante, ya que de esta manera si es incluyente
Lista[2:]

[9.2, True]

####Metodos de listas

**.append()** Añade un elemento al final de la lista

In [ ]:
Lista.append(Promedio) #El promedio que sacamos anteriormente
Lista

['Juan', 9.1, 9.2, True, 'Hola', 9.149999999999999]

**.extend()** permite añadir varios elemento al final de una lista

In [ ]:
Lista.extend([1, 2, 3, 4, 5])
Lista

['Juan', 9.1, 9.2, True, 'Hola', 9.149999999999999, 1, 2, 3, 4, 5]

In [ ]:
#Si intentas hacer esto con .Append() considerara esa lista como un solo elemento
Lista.append([4, 8, 9])
Lista

['Juan', 9.1, 9.2, True, 'Hola', 9.149999999999999, 1, 2, 3, 4, 5, [4, 8, 9]]

**.remove()** Remueve un elemento especifico de la lista

In [ ]:
Lista.remove([4, 8, 9])
Lista

['Juan', 9.1, 9.2, True, 'Hola', 9.149999999999999, 1, 2, 3, 4, 5]

**.insert()** Esta inserta un element en una posicion especificada

In [ ]:
Lista.insert(0, "Pedro")
Lista

['Pedro', 'Juan', 9.2, True, 'Hola', 9.149999999999999, 1, 2, 3, 4, 5]

**.pop()** Elimina el elemento de la lista especificado

In [ ]:
Lista.pop(0)
Lista

['Juan', 9.2, True, 'Hola', 9.149999999999999, 1, 2, 3, 4, 5]

**.index()** Devuelve el indice del elemento especificado

In [ ]:
Lista.index("Juan")

0

**.sort()** este metodo permite ordenar de manera ascendente o descendente alfabeticamente una lista en el caso de de las palabras

In [ ]:
Lista_ejemplo = ["Burro", "Dodo", "Ave", "Camaleon" ]
Lista_ejemplo.sort()
Lista_ejemplo

['Ave', 'Burro', 'Camaleon', 'Dodo']

#### Diccionarios
Los diccionarios son estructuras de datos que almacenan datos en una estructura de LLave-Valor. esta estructura se coloca dentro de llaves "{ }" y estos elementos dentro son separados por comas.



```
Diccionario = {LLave: valor, LLave: valor}
```

In [ ]:
Diccionario = {"LLave_1": 1,
               "LLave_2": 2} #la llave deve ser un string
Diccionario

{'LLave_1': 1, 'LLave_2': 2}

In [ ]:
Estudiante = {
    "Nombre": "Angel Delgado",
    "Edad": 12,
    "Promedio": 9.1,
    "Estado": True #True indicando que pasó el año por ejemplo
    }
Estudiante["Promedio"]

9.1

para cambiar el valor de una llave es similar a una lista

In [ ]:
Estudiante["Edad"] = 13
Estudiante

{'Nombre': 'Angel Delgado', 'Edad': 13, 'Promedio': 9.1, 'Estado': True}

pra crear una dato dentro del diccionario podemos hacer lo siguiente definiendo una nueva llave y asignandole un valor

In [ ]:
Estudiante["Modalidad"] = "Virtual"
Estudiante

{'Nombre': 'Angel Delgado',
 'Edad': 13,
 'Promedio': 9.1,
 'Estado': True,
 'Modalidad': 'Virtual'}

#### Metodos de diccionarios

**.pop()** elimina el elemento de un diccionario y lo expresa a la salida

In [ ]:
Estudiante.pop("Edad")

13

**.items()** retorna una lista de los pares LLave-valor del diccionario

In [ ]:
Estudiante.items()

dict_items([('Nombre', 'Angel Delgado'), ('Promedio', 9.1), ('Estado', True), ('Modalidad', 'Virtual')])

**.keys()** retorna una lista de las llaves del diccionario

In [ ]:
Estudiante.keys()

dict_keys(['Nombre', 'Promedio', 'Estado', 'Modalidad'])

**.values()** retorna una lista de los valores del diccionario

In [ ]:
Estudiante.values()

dict_values(['Angel Delgado', 9.1, True, 'Virtual'])

iteraciones en bucle for

In [ ]:
for LLave, valor in Estudiante.items():
  print(f"{LLave} ---> {valor}")

Nombre ---> Angel Delgado
Promedio ---> 9.1
Estado ---> True
Modalidad ---> Virtual

notas extras - metodos extras
.sum() suma los elemento de una estructura de datos o una secuencia.
help(funcion) muestra información acerca de funciones, metodos...etc.
dir(elemento o funcion) se utiliza para mostrar una lista de atributos y métodos asociados a un elemento.

###Desafios - Modulo #5

In [ ]:
#Desafio #1
Gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
Promedio = sum(Gastos)/len(Gastos)
print(f"Total de Gastos: {sum(Gastos)}\nPromedio de gastos: {Promedio}")

Total de Gastos: 31442.22
Promedio de gastos: 3144.222

In [ ]:
#Desafio #2
Gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
Compras_grandes=0
cantidad_compras = len(Gastos)
for i in Gastos:
  if i>3000:
    Compras_grandes+=1
Porcentaje = (100*Compras_grandes)/cantidad_compras
print(f"Compras por encima de 3000 dolares: {Compras_grandes}\n Porcentaje de compras por encima de 3000 dolares: {Porcentaje}%")

Compras por encima de 3000 dolares: 7
 Porcentaje de compras por encima de 3000 dolares: 70.0%

In [ ]:
#Desafio #3
import random as rdm
lista = []
Contador = 0
while Contador < 5:
  numero = rdm.randint(0, 5)
  lista.append(numero)
  Contador+=1
lista

[2, 5, 1, 3, 1]

In [ ]:
#Desafio #4
lista=[]
Contador = 0
while Contador < 5:
  Num  = int(input("Ingrese el numero que desea colocar en la lista: "))
  lista.append(Num)
  Contador+=1
print(f"La lista ingresada pero de forma invertida es: {lista[::-1]}")

Ingrese el numero que desea colocar en la lista: 1
Ingrese el numero que desea colocar en la lista: 2
Ingrese el numero que desea colocar en la lista: 3
Ingrese el numero que desea colocar en la lista: 4
Ingrese el numero que desea colocar en la lista: 5
La lista ingresada pero de forma invertida es: [5, 4, 3, 2, 1]

NOta: metodod e partición o slicing, estructura **lista [Inicio:fin:paso]** en este caso el paso es de -1 haciendo que se recorra de atras hacia adelante. recordemos que el fin es exluido es decir que si queremos imprimir hasta 5 debemos poner 6 en na lista con numeros enteros ordenados del 1 al 10 y de otra forma el inicio es incluyente ya que se imprime desde el numero indicado hasta el final

In [ ]:
#Desafio #5 - By Alura - Logica comprendida
# Recopilamos el número
numero = int(input('Ingresa un número entero: '))
# Lista para almacenar los números primos
lista_primos = []
# Bucle que recorre todos los números por debajo del número ingresado
for num in range(2, numero+1):
  # Primo es una bandera que nos permite saber si el valor analizado es primo o no.
  primo = True
  # Probamos si todos los números por debajo del especificado en el primer bucle pueden dar una división exacta.
  for prueba_divisibles in range(2, num):
    if num % prueba_divisibles == 0:
      # Si es divisible por algún número, entendemos que el número no es primo y terminamos el bucle interno con break.
      primo = False
      break
  # La condición se convierte en el resultado booleano de primo: False. Ignoramos la condición True y ejecutamos el bloque del if.
  if primo:
    lista_primos.append(num)
# Resultado
print(f'Lista de números primos: {lista_primos}')

Ingresa un número entero: 10
Lista de números primos: [2, 3, 5, 7]

In [ ]:
#Desafio #6
#???

In [ ]:
#Desafio #7
Bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
Porcentaje_bacterias = []
for i in range(1, len(Bacterias)):
  Porcentaje = 100 * ((Bacterias[i])-Bacterias[i-1])/Bacterias[i-1]
  Porcentaje_bacterias.append(Porcentaje)
print(f"el porcentaje de crecimiento es de:\n{Porcentaje_bacterias}")

el porcentaje de crecimiento es de:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [ ]:
#Desafio #8
ID = []
Dulces = 0
Amargos = 0

for i in range (0, 10):
  ID.append(i+1)

for ids in ID:
  if ids %2 == 0:
    Dulces +=1
  else:
    Amargos +=1

print(f"Hay {Dulces} productos dulces y {Amargos} productos amargos")

Hay 5 productos dulces y 5 productos amargos

In [ ]:
#Desafio #9
Respuesta_correcta = ["A", "B", "C", "A", "A", "B", "C"]
print("Recuerde que la respuesta solo debe ser dada en A, B o C\nNo se permiten otros valores.")
Resultado = []
puntaje = 0
for i in range(0, 7):
  Respuesta_Estudiante = str(input(f"Ingrese la respuesta de la pregunta #{i+1}: ")).upper()
  Resultado.append(Respuesta_Estudiante)
for i in range(0, 7):
  if Resultado[i]==Respuesta_correcta[i]:
    puntaje+=1

print(f"El puntaje total es de: {puntaje}/{len(Respuesta_correcta)}")

Recuerde que la respuesta solo debe ser dada en A, B o C
No se permiten otros valores.
Ingrese la respuesta de la pregunta #1: A
Ingrese la respuesta de la pregunta #2: B
Ingrese la respuesta de la pregunta #3: C
Ingrese la respuesta de la pregunta #4: C
Ingrese la respuesta de la pregunta #5: C
Ingrese la respuesta de la pregunta #6: B
Ingrese la respuesta de la pregunta #7: C
El puntaje total es de: 5/7

In [ ]:
#Desafo #10
Temperatura_mensual = []
Meses = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
for i in range(0, 12):
  Temperatura_promedio = float(input(f"Ingrese la temperatura del mes {i+1}: "))
  Temperatura_mensual.append(Temperatura_promedio)

Promedio = sum(Temperatura_mensual)/len(Temperatura_mensual)

for i in range(0, 12):
  if Temperatura_mensual[i] > Promedio:
    print(f"Temperatura del mes de {Meses[i]} --> {Temperatura_mensual[i]}")

Ingrese la temperatura del mes 1: 12
Ingrese la temperatura del mes 2: 12
Ingrese la temperatura del mes 3: 12
Ingrese la temperatura del mes 4: 12
Ingrese la temperatura del mes 5: 12
Ingrese la temperatura del mes 6: 12
Ingrese la temperatura del mes 7: 12
Ingrese la temperatura del mes 8: 12
Ingrese la temperatura del mes 9: 23
Ingrese la temperatura del mes 10: 23
Ingrese la temperatura del mes 11: 23
Ingrese la temperatura del mes 12: 23
Temperatura del mes de Septiembre --> 23.0
Temperatura del mes de Octubre --> 23.0
Temperatura del mes de Noviembre --> 23.0
Temperatura del mes de Diciembre --> 23.0

In [ ]:
#Desafio #11
Datos_ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}
Total_ventas = sum(Datos_ventas.values())
Producto_Vendido = max(Datos_ventas.values())
Datos_ventas.keys()
for D in Datos_ventas.keys():
  if Datos_ventas[D] == Producto_Vendido:
    print(f"El producto más vendido fué: {D}")

El producto más vendido fué: Producto A

In [ ]:
#Desafio #12
Votacion_design = {"Diseño 1": 1334, "Diseño 2": 982, "Diseño 3": 1751, "Diseño 4": 210, "Diseño 5": 1811}
Total_Votos = sum(Votacion_design.values())
Mayor_votos = max(Votacion_design.values())
Porcentaje = round((Mayor_votos/Total_Votos)*100, 2)
for i in Votacion_design.keys():
  if Votacion_design[i] == Mayor_votos:
    print(f"EL diseño más votado fue el {i}, con un porcentaje del {Porcentaje}% de los votos.")

EL diseño más votado fue el Diseño 5, con un porcentaje del 29.75% de los votos.

In [ ]:
#Desafio #13
Salarios_bonif= {"1172": 0, "1644": 0, "2617": 0, "5130": 0, "5532": 0, "6341": 0, "6650": 0, "7238": 0, "7685": 0, "7782": 0, "7903": 0}
Cobro_minimo = 0
for i in Salarios_bonif.keys():
  Bonificacion = (int(i)*10)/100
  if Bonificacion < 200:
    Salarios_bonif[i] = 200
    Cobro_minimo += 1
  else:
    Salarios_bonif[i] = Bonificacion

print("Salario --> Bonificación")
for i in Salarios_bonif.keys():
  print(f"{i} --> {Salarios_bonif[i]}")

print(f"Suma total de bonificaciones: {sum(Salarios_bonif.values())}\nCantidad de cobros de bonificación minima: {Cobro_minimo}")

Salario --> Bonificación
1172 --> 200
1644 --> 200
2617 --> 261.7
5130 --> 513.0
5532 --> 553.2
6341 --> 634.1
6650 --> 665.0
7238 --> 723.8
7685 --> 768.5
7782 --> 778.2
7903 --> 790.3
Suma total de bonificaciones: 6087.8
Cantidad de cobros de bonificación minima: 2

In [ ]:
#Desafio #14
Diversidad_bio= {'Área Norte': [2819, 7236],
                 'Área Leste': [1440, 9492],
                 'Área Sul': [5969, 7496],
                 'Área Oeste': [14446, 49688],
                 'Área Centro': [22558, 45148]}
lista = []
for i in Diversidad_bio.keys():
  lista.append(sum(Diversidad_bio[i]))
  for a in range(0, len(lista)):
    Promedio = (lista[a]/len(Diversidad_bio[i]))
  print(f"El promedio de biodiversidad del area {i} es de {Promedio}")

Mayor_bio = max(lista)
for i in Diversidad_bio.keys():
  Suma_areas = sum(Diversidad_bio[i])
  if Mayor_bio == Suma_areas:
    print(f"El area con mayor biodiversiodad es {i}")

El promedio de biodiversidad del area Área Norte es de 5027.5
El promedio de biodiversidad del area Área Leste es de 5466.0
El promedio de biodiversidad del area Área Sul es de 6732.5
El promedio de biodiversidad del area Área Oeste es de 32067.0
El promedio de biodiversidad del area Área Centro es de 33853.0
El area con mayor biodiversiodad es Área Centro

In [ ]:
#Desafio #14 - by AluraLatam - logica comprendida (simple y sin procesos complejos :D )
datos = {'Área Norte': [2819, 7236],
         'Área Este': [1440, 9492],
         'Área Sur': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}

mayor_diversidad = ''
mayor_suma = 0

for área, especies in datos.items():
    suma_especies = sum(especies)
    media = suma_especies / len(especies)
    print(f'El {área} tiene un promedio de {media} especies')
    if suma_especies > mayor_suma:
        mayor_suma = suma_especies
        mayor_diversidad = área

print(f'Área con la mayor diversidad biológica: {mayor_diversidad}')

El Área Norte tiene un promedio de 5027.5 especies
El Área Este tiene un promedio de 5466.0 especies
El Área Sur tiene un promedio de 6732.5 especies
El Área Oeste tiene un promedio de 32067.0 especies
El Área Centro tiene un promedio de 33853.0 especies
Área con la mayor diversidad biológica: Área Centro

In [ ]:
#Desafio #15
#media = Suma de los promedios / cantidad de datos
Sectores = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
            'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
            'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
            'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

Media_Sectores = []
Media_General = 0
Mayor_MediaG = 0
Contador = 0

for Sector, Edad in Sectores.items():
  Media_Sectores.append((sum(Edad)/len(Edad)))
  print(f"La edad Media del {Sector} es de: {Media_Sectores[Contador]}")
  Contador += 1

Media_General = round(sum(Media_Sectores)/len(Media_Sectores), 0)
for Sector, Edad in Sectores.items():
  for i in Edad:
    if i > Media_General:
      Mayor_MediaG += 1
print(f"La Media general es de: {Media_General}\nHay {Mayor_MediaG} trabajadores por encima de la media general")

La edad Media del Setor A es de: 39.9
La edad Media del Setor B es de: 42.3
La edad Media del Setor C es de: 35.8
La edad Media del Setor D es de: 36.5
La Media general es de: 39.0
Hay 17 trabajadores por encima de la media general

#fin del Curso