<a href="https://colab.research.google.com/github/Angel-JDG/Python_Beginner_in_google_colaboratory/blob/main/GoogleColabNoteBook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Clase Modulo 1 - Python para data Science

En este modulo vamos a ver:

* Introducción al notebook de Google Colaboratory.
* Introducción al lenguaje de programación Python.

In [ ]:
print("Hola Hundo")

### Desafio Modulo 1 - sección 8

In [ ]:
# Desafio #1
print("Escuela de Datos de Alura.")

Escuela de Datos de Alura.

In [ ]:
#Desafio #2
Nombre = "Angel"
Apellido = "Delgado"

print (f"Mi nombre es {Nombre} {Apellido}")

Mi nombre es Angel Delgado

In [ ]:
#Desafio #3
Nombre = "Pedro"
for a in Nombre:
  print (a)

P
e
d
r
o

In [ ]:
#Desafio #4
Mes = "Abril"
Año = 2025
Dia = 4
print (f"{Dia} {Mes} del {Año}")

4 Abril del 2025

In [ ]:
#Desafio #5
Año = 2025
print(f"Año Actual: {Año}")

Año Actual: 2025

## Clase Modulo 2 - Python para Data Science

En este modulo vamos a ver:
*   variables y tipos de variables.
*   Manipulacions de datos.

### Variables
Las variables en python al igual que en algebra son "objetos" a los que les ponemos un "nombre" y les asignamos un valor por ejemplo:


*   En Algebra:
  * x + 3 cuando x = 2 (en este caso estamos asigando el valor de 2 a la X que seria nuestra variable)
      * el resultado seria *5*

* En programación:
  * Nombre = Juan ('Nombre' seria nuestra variable y 'Juan' nuestro valor asignado)
  * Print("Hola "Nombre)
    * el output seria "Hola Juan"

### Tipos de variables
hay 4 tipos de variables principalmente:


*   Variable tipo entero: int (las variables tipo entero son numeros enteros es decir sin puntos decimales, como por ejemplo 2, 3, 4, 5... )
*   Variable tipo float: float (las variables de este tipo permiten numeros decimales, por ejemplo, 2.3, 4.5, 6.4...)
*   Variable tipo texto: str (las variables de tipo texto corresponden al sistema ACSII de texto como por ejemplo 'Nombre', 'Perro' Y 'gato', estas son cadenas de texto ya que estan formadas por varios caracteres)
*   Variable tipo boleanos: bool (este tipo de variable solo tiene 2 estados posibles TRUE o FALSE)

**Ejemplo en clases:**

In [ ]:
# Tranformar la ficha de un alumno en variables
Nombre_estudiante = "Penélope"
Edad_estudiante = 21
Promedio_Estudiante = 9.7
Aprobado = True
print(Nombre_estudiante, Edad_estudiante, Promedio_Estudiante, Aprobado)
print(type(Nombre_estudiante), type(Edad_estudiante), type(Promedio_Estudiante), type(Aprobado))

Penélope 21 9.7 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

####Variables Numericas
Enfoque en variables de tipo **float** e **int**.

* Datos:
  * Vigilante: Cantidad 5, Salario 300.
  * Docente: Cantidad 16, Salario 500.
  * Coordinador: Cantidad 2, Salario 600.






Casos de uso:
*   Cantidad total de empleados.
*   Diferencia entre el salario más alto y más bajo.
*   Promedio ponderado de los salarios.

Ejemplo en clase:

In [ ]:
Cantidad_vigilante = 5
Salario_vigilante = 300

Cantidad_docente = 16
Salario_docente = 500

Cantidad_coordinador = 2
Salario_coordinador = 600

Total_empleados = Cantidad_vigilante + Cantidad_coordinador + Cantidad_docente
Total_empleados

Diferencia_salario = Cantidad_coordinador - Cantidad_vigilante
Diferencia_salario

Promedio_salario = (Salario_coordinador*Cantidad_coordinador + Salario_docente*Cantidad_docente + Salario_vigilante*Cantidad_vigilante)/Total_empleados
Promedio_salario

465.2173913043478

####Variables de texto
Enfoque en variables de tipo texto **String**.

las variables de tipo texto pueden estr envueltas en comillas simples ( ' ) o comillas dobles ( " ).
```
t = "Alura"
type (t) --> string
```
las variables textuales son objetos que poseen metodos que nos ayudan a formatear strings. los metodos los podemos ejecutar acorde a la siguiente estructura:

objeto.metodo()

los parentesis no siempre van con todo los metodos, por eso se debe verificar en la documentación.

**Ejemplo en clase:**

se recibe una variable con un nombre para insertar a un registro, pero antes se debe pasar por un tratamiento al texto antes de insertarlo al sistema.

In [ ]:
texto = " Micaela de los Sanyos"
id(texto)

135539513026368

el objetivo final es el siguiente: 'MICAELA DE LOS SANTOS'

In [ ]:
# utilizamos metodo upper para convertir a mayusculas toda la cadena de texto
texto.upper()

' MICAELA DE LOS SANYOS'

In [ ]:
# utilizamos metodo lower para convertir a minusculas toda la cadena de texto
texto.lower()

' micaela de los sanyos'

In [ ]:
# utilizamos metodo strip para eliminar espacios en blanco al principio o final de un string
texto.strip()

'Micaela de los Sanyos'

In [ ]:
# utilizamos metodo replace para editar/cambiar un elemento del contenido
texto.replace('y', 't')

' Micaela de los Santos'

In [ ]:
# se pueden usar varios metodos al mismo tiempo y la variable debe ser guardada:
nuevo_texto= texto.strip().upper().replace('y', 't')
print(nuevo_texto)
# al ser variables diferentes no se almacenan en el mismo espacio de memoria
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANYOS
135539513040032 135539513017008

In [ ]:
texto= texto.strip().upper().replace('y', 't')
print(texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANYOS
135539511017520 135539513017008

#### Colección de datos
vamos a ver como ingresar información desde el programa en ejecución con **input()**
para ejecutar la captura debemos atribuir el resultado de la funcion a una variable.

In [ ]:
Nombre= input("Escriba su nombre: ")

Escriba su nombre: Angel

In [ ]:
type(Nombre)

str

Todo lo que ingreses en el input sera tipo string aun cuando digites un valor númerico.

Funciones de conversion de valores:
*   Entero      = int   (dato para conversión)
*   Flotante    = float (dato para conversión)
*   Caracter    = str   (dato para conversión)
*   booleanos   = bool  (dato para conversión)

nota adicional \n es un salto de linea y \t una tabulación pueden ser utilizadas en cadenas de texto

In [ ]:
Ano_admision = int(input("Digite el año de admisión: "))

Digite el año de admisión: 2025

In [ ]:
type(Ano_admision)

int

In [ ]:
Nota_admision = float(input("Digite la nota de admisión: "))

Digite la nota de admisión: 4.8

In [ ]:
type(Nota_admision)

float

### Desafio Modulo 2 - Sección 14

In [ ]:
# Desafio #1
Nombre = input("Ingrese su nombre: ")
print(f"Hola, {Nombre}.")

Ingrese su nombre: Ángel
Hola, Ángel.

In [ ]:
# Desafio #2
Nombre = input("Ingrese su nombre: ")
Edad =  int(input("Ingrese su edad: "))
print(f"Hola {Nombre}, tienes {Edad} años.")

Ingrese su nombre: Angel
Ingrese su edad: 21
Hola Angel, tienes 21 años.

In [ ]:
# Desafio #3
Nombre = input("Ingrese su nombre: ")
Edad =  int(input("Ingrese su edad: "))
Altura = float(input("Ingrese su altura: "))
print(f"Hola {Nombre}, tienes {Edad} años y mides {Altura}")

Ingrese su nombre: Ángel
Ingrese su edad: 21
Ingrese su altura: 1.70
Hola Ángel, tienes 21 años y mides 1.7

In [1]:
# Desafio #4
Num1 = int(input("Ingrese un primer número: "))
Num2 = int(input("Ingrese un segundo número: "))
print(f"la resta de estos numeros da: {Num1+Num2}")

Ingrese un primer número: 2
Ingrese un segundo número: 3
la resta de estos numeros da: 5

In [ ]:
# Desafio #5
Num1 = int(input("Ingrese un primer número: "))
Num2 = int(input("Ingrese un segundo número: "))
Num3 = int(input("Ingrese un tercer número: "))
print(f"la suma de estos numeros da: {Num1+Num2+Num3}")

Ingrese un primer número: 1
Ingrese un segundo número: 1
Ingrese un tercer número: 2
la suma de estos numeros da: 4

In [2]:
# Desafio #6
Num1 = int(input("Ingrese un primer número: "))
Num2 = int(input("Ingrese un segundo número: "))
print(f"la resta de estos numeros da: {Num1-Num2}")

Ingrese un primer número: 2
Ingrese un segundo número: 1
la resta de estos numeros da: 1

In [3]:
# Desafio #7
Num1 = int(input("Ingrese un primer número: "))
Num2 = int(input("Ingrese un segundo número: "))
print(f"la resta de estos numeros da: {Num1-Num2}")

Ingrese un primer número: 2
Ingrese un segundo número: 4
la multiplicación de estos numeros da: 8

In [4]:
# Desafio #8
Num1 = int(input("Ingrese un numerador número: "))
Num2 = int(input("Ingrese un denominador número: "))
print(f"la division de estos numeros da: {Num1/Num2}")

Ingrese un numerador número: 4
Ingrese un denominador número: 2
la division de estos numeros da: 2.0

In [5]:
# Desafio #9
Num1 = int(input("Ingrese un operador número: "))
Num2 = int(input("Ingrese un potencia número: "))
print(f"el resultado de la operación da: {Num1**Num2}")

Ingrese un operador número: 2
Ingrese un potencia número: 3
el resultado de la operación da: 8

In [7]:
# Desafio #10
Num1 = int(input("Ingrese un numerador número: "))
Num2 = int(input("Ingrese un denominador número: "))
print(f"el resultado de la operación da: {Num1//Num2}")

Ingrese un numerador número: 5
Ingrese un denominador número: 2
el resultado de la operación da: 2

In [9]:
# Desafio #11
Num1 = int(input("Ingrese un numerador número: "))
Num2 = int(input("Ingrese un denominador número: "))
print(f"el resultado de la operación da: {Num1%Num2}")

Ingrese un numerador número: 5
Ingrese un denominador número: 2
el resultado de la operación da: 1

In [13]:
# Desafio #12
Nota1 = float(input("Ingrese la primera nota: "))
Nota2 = float(input("Ingrese la segunda nota: "))
Nota3 = float(input("Ingrese la tercera nota: "))
Cantidad_notas = 3
print(f"el resultado de la operación da: {(Nota1+Nota2+Nota3)/3}")
# sistema de notas en Panamá

Ingrese la primera nota: 3.4
Ingrese la segunda nota: 3.2
Ingrese la tercera nota: 3.0
el resultado de la operación da: 3.1999999999999997

In [16]:
# Desafio #13
Nota1 = 5
Nota2 = 12
Nota3 = 20
Nota4 = 15

Valor1 = 1
Valor2 = 2
Valor3 = 3
Valor4 = 4
Cantidad_notas = 3
print(f"el resultado de la operación da: {((Nota1*Valor1)+(Nota2*Valor2)+(Nota3*Valor3)+(Nota4*Valor4))/(Valor1+Valor2+Valor3+Valor4)}")

el resultado de la operación da: 14.9

In [17]:
# Desafio #14
Frase = "Hola soy un programador"
Frase

'Hola soy un programador'

In [18]:
# Desafio #15
Frase = input("Ingrese una frase: ")
Frase

Ingrese una frase: ya pasé el curso

'ya pasé el curso'

In [22]:
# Desafio #16
Frase = input("Ingrese una frase: ")
Frase.upper()

Ingrese una frase: HOla soy un programador

'HOLA SOY UN PROGRAMADOR'

In [23]:
# Desafio #17
Frase = input("Ingrese una frase: ")
Frase.lower()

Ingrese una frase: Hola soy un programador

'hola soy un programador'

In [25]:
# Desafio #18
Frase = " Hola soy un programador "
Frase.strip()

'Hola soy un programador'

In [26]:
# Desafio #19
Frase = input("Ingrese una frase: ")
Frase.strip()

Ingrese una frase:  Hola Soy Angel

'Hola Soy Angel'

In [27]:
# Desafio #20
Frase = input("Ingrese una frase: ")
Frase.strip().lower()

Ingrese una frase:  HOLA SOY ANGEL

'hola soy angel'

In [28]:
# Desafio #21
Frase = input("Ingrese una frase: ")
Frase.replace("e", "f")

Ingrese una frase: creando un elemento

'crfando un flfmfnto'

In [31]:
# Desafio #22
Frase = input("Ingrese una frase: ")
Frase.replace("a", "@")

Ingrese una frase: angel salazar

'@ngel s@l@z@r'

In [32]:
# Desafio #23
Frase = input("Ingrese una frase: ")
Frase.replace("s", "$")

Ingrese una frase: sacar los trapos sucios

'$acar lo$ trapo$ $ucio$'

## Modulo 3 - Python para data science

### Estructuras condicionales

**If** y **Else** son condicionales

funcionana comparando y evaluando parametros como las variables por ejemplo el siguiente problema:

In [8]:
#nota de aprobación entre 71 y 100 nota de aprobación mayor o igual a 71 (Nota >= 71)
#nota de repobación menor a 71 (Nota<71)

#Si la nota es mayor o igual a 71 el estudiante aprueba de lo contrario reprueba
Nota_estudiante = 71

if Nota_estudiante >= 71: #si nota es mayor o igual a 71 imprime if "Aprobado"
    print("Aprobado")
else:
    print("Reprobado") #de lo contrario imprime else "Reprobado"

Aprobado

Explicación
el problema nos plantea que para aprobar la nota debe ser mayor o igual a 71 y que de no ser asi (si es menor a 71) será reprobado.

este bucle inicia en el if cuando este evalua si la condicion que pusimos se cumple o no (si es Verdadero (True) o falso (False)): que la nota sea mayor o igual a 71 que se expresa como **Variable >= 71** (">=" es un operador condicional).

si no se cumple esta condición, ejecutará el else (es decir si la nota es menor a 71 (el operador condicional si fuese evaluado en el if seria "<"))


---


Ahora veamos un ejemplo con un condicional llamado elif:

In [27]:
#nota de aprobación entre 71 y 100 nota de aprobación mayor o igual a 71 (Nota >= 71)
#nota de recuperación si la nota es 51
#nota de repobación menor o igual a 50

#Si la nota es mayor o igual a 71 el estudiante aprueba de lo contrario reprueba
Nota_estudiante = 50

if Nota_estudiante >= 71: #si nota es mayor o igual a 71 imprime if "Aprobado"
    print("Aprobado")
elif 71 > Nota_estudiante >= 51:
    print("recuperación")
else:
    print("Reprobado") #de lo contrario imprime else "Reprobado"

Reprobado

Explicación:

Elif es el equivalente a "si no se cumple esta intenta esta" espresada generalmente "si no, si" quiere decir que si no se cumple la condicion para cumplirse del if pasará a evaluar la condicion del del elif si esta se cumple ejecutará el bloque dentro del elif si no ejecutará el else. hayq ue recordar que se pueden colocar varios elif para evaluar varias condiciones de un problem.

###Operadores Lógicos
Los operadores lógicos como And ,Or y Not son operadores que ayudan a crear condiocionales más complejas utilizadas usualmente en condicionales if.

ejemplo de como funciona un And:

Si la condicion **X** se cumple And la condición **Y** también se vamos a la playa de manera más explicita seria: si tenemos un carro and(y) gasolina vamos a la playa

como puedes ver se tienen que cumplir ambas condiciones para porder que todo funcione y de faltar una ya no se podria.


---


ejemplo de como funciona un OR:

Si la condicion **X** se cumple Or la condición **Y** no vamos a la playa o viceversa, de manera más explicita seria: si tenemos carro Or(o) sodas vamos a la playa

Aunque pareza similar a el And no lo es ya que el Or indica que una de las 2 condiciones se debe cumplir para ejecutar, pero no ambas, es decir si hay sodas pero no carro podemos ir a la playa, de igual manera si hay carro pero no sodas, sin embargo si no tenemos ninguna no podemos ir.


---


ejemplo de como funciona un Not:

si Not(no) estas en **lista de personas vetadas** de la fiesta puedes entrar, de manera más explicita si no estas en la listad e personas vetadas de la fiesta puedes entrar de lo contrario no puedes.

este operador funciona negando. es decir si tenemos una variable con el nombre pedro y usamos la condicional if con un not para evitar que pedro entre a la fiesta. se evaluaria si pedro esta en la lista y si está no entrará.

In [32]:
vetados = "juan", "pedro" ,"rou"

if not "pepito" in vetados :
  print ("pueden entrar")
else:
  print("no puedes entrar")

pueden entrar

###IN
el in es usado para verificar si un elemento se encuentra en una tupla, lista y otra conexión de conjuntos de datos. evalua como true si el elemento que buscamos está en uno de estos conjuntos o false si no como podemos ver en el ejemplo de arriba

##Desafio Modulo 3 - Sección 12

In [4]:
#Desafio #1
Num1 = float(input("Ingrese un numero: "))
Num2 = float(input("Ingrese un numero: "))
if Num1 > Num2:
  print(Num1)
else:
  print(Num2)

Ingrese un numero: 2
Ingrese un numero: 1
2.0